@import '@xyflow/svelte/dist/style.css';
@import 'tailwindcss';
@import "tw-animate-css";

@plugin '@tailwindcss/forms';
@plugin "@iconify/tailwind4";

@custom-variant dark (&:is(.dark *));
:root {
    --selected-border: var(--color-emerald-500);
    --selected-border-locked: var(--color-rose-300);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.147 0.004 49.25);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.147 0.004 49.25);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.147 0.004 49.25);
    --primary: oklch(0.216 0.006 56.043);
    --primary-foreground: oklch(0.985 0.001 106.423);
    --secondary: oklch(0.97 0.001 106.424);
    --secondary-foreground: oklch(0.216 0.006 56.043);
    --muted: oklch(0.97 0.001 106.424);
    --muted-foreground: oklch(0.553 0.013 58.071);
    --accent: oklch(0.97 0.001 106.424);
    --accent-foreground: oklch(0.216 0.006 56.043);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.923 0.003 48.717);
    --input: oklch(0.923 0.003 48.717);
    --ring: oklch(0.709 0.01 56.259);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0.001 106.423);
    --sidebar-foreground: oklch(0.147 0.004 49.25);
    --sidebar-primary: oklch(0.216 0.006 56.043);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.97 0.001 106.424);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-border: oklch(0.923 0.003 48.717);
    --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
    --background: oklch(0.147 0.004 49.25);
    --foreground: oklch(0.985 0.001 106.423);
    --card: oklch(0.216 0.006 56.043);
    --card-foreground: oklch(0.985 0.001 106.423);
    --popover: oklch(0.216 0.006 56.043);
    --popover-foreground: oklch(0.985 0.001 106.423);
    --primary: oklch(0.923 0.003 48.717);
    --primary-foreground: oklch(0.216 0.006 56.043);
    --secondary: oklch(0.268 0.007 34.298);
    --secondary-foreground: oklch(0.985 0.001 106.423);
    --muted: oklch(0.268 0.007 34.298);
    --muted-foreground: oklch(0.709 0.01 56.259);
    --accent: oklch(0.268 0.007 34.298);
    --accent-foreground: oklch(0.985 0.001 106.423);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.553 0.013 58.071);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.216 0.006 56.043);
    --sidebar-foreground: oklch(0.985 0.001 106.423);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
    --sidebar-accent: oklch(0.268 0.007 34.298);
    --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.svelte-flow {
    --xy-background-color-default: var(--color-stone-100);
    --xy-node-color-default: var(--color-stone-300);
    --xy-node-border-radius-default: 0px;
    --xy-node-border-default: 1px solid var(--color-slate-300);
/*    --xy-node-background-color-default: var(--color-slate-200);*/
    --xy-node-group-background-color-default: --alpha(var(--color-stone-400)/10%);
    --xy-controls-button-background-color-default: var(--color-stone-50);
    --xy-controls-button-background-color-hover: var(--color-emerald-200);
    --xy-resize-background-color-default: var(--color-orange-200);
    --xy-edge-stroke: var(--color-yellow-400);
/*    --xy-node-default.selectable.selected: var(--color-emerald-500);*/
}
/**/
.svelte-flow.dark {
    --xy-background-color-default: var(--color-neutral-800);
    --xy-node-color-default: var(--color-stone-800);
    --xy-node-border-radius-default: 0px;
    --xy-node-border-default: 1px solid var(--color-stone-800);
/*    --xy-node-background-color-default: var(--color-slate-600);*/
/*    --xy-node-group-background-color-default: rgba(240, 240, 240, 0.25);*/
    --xy-node-group-background-color-default: --alpha(var(--color-stone-400)/10%);
    --xy-controls-button-background-color-default: var(--color-stone-700);
    --xy-controls-button-background-color-hover: var(--color-stone-500);
    --xy-resize-background-color-default: var(--color-orange-500);
    --xy-edge-stroke: var(--color-yellow-400);
/*    --xy-node-default.selectable.selected: var(--color-emerald-500);*/
}

.svelte-flow__resize-control.line {
    border-width: 1px;
    width: 4em;
}
.svelte-flow__resize-control.handle {
    border-width: 0px;
}

.svelte-flow__node {
    border: 1px solid var(--color-stone-400);
}
.svelte-flow__node.selectable {
    box-shadow: var(--shadow-sm);
}

.svelte-flow__node.selectable:hover {
    box-shadow: var(--shadow-lg);
    border: 1px solid --alpha(var(--color-emerald-100)/30%);
}

.svelte-flow__node.selected {
    border: 1px solid var(--selected-border);
}
